.wp-block-lipps-lipps-hairstyle-spec-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 463px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 12px;
    letter-spacing: 0;
    margin: 40px auto;
}

    .wp-block-lipps-lipps-hairstyle-spec-block .hairstyle-spec-menu {
       margin: 10px 0;
       font-size: 14px;
    }

    .wp-block-lipps-lipps-hairstyle-spec-block .hairstyle-spec-operation {
       margin: 0 auto 0 30px;
       text-align: left;
       font-size: 14px;
    }

    .wp-block-lipps-lipps-hairstyle-spec-block .hairstyle-spec-price {
       margin: 0 20px 0 auto;
       text-align: right;
       font-size: 14px;
    }

    .wp-block-lipps-lipps-hairstyle-spec-block .hairstyle-spec-row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
    }

    .wp-block-lipps-lipps-hairstyle-spec-block .spec-column {
          margin: 5px 2.5px;
          padding: 2px 0;
          background-color: #e0e0e0;
          color: #868686;
          border-radius: 3px;
          text-align: center;
    }

    .wp-block-lipps-lipps-hairstyle-spec-block .spec-column.five-column {
               width: 25%;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .spec-column.three-column {
               width: 33%;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .spec-column.selected {
               background-color: #8c8c8c;
               color: #fff;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-box {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 40px;
          margin: 0 15px;
    }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-box:first-child {
               margin-left: auto;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-box:last-child {
               margin-right: auto;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-icon {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 35px;
          height: 35px;
          background-image: url('./images/hairstyle_spec.png');
          background-repeat: no-repeat;
          background-size: 600%;
          margin: auto;
    }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-icon.square {
               background-position: 0 -35px;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-icon.triangle {
               background-position: -35px -35px;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-icon.circle {
               background-position: -70px -35px;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-icon.egg {
               background-position: -105px -35px;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-icon.long {
               background-position: -140px -35px;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-icon.base {
               background-position: -175px -35px;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-icon.selected {
               background-position-y: 0;
          }

    .wp-block-lipps-lipps-hairstyle-spec-block .face-type-word {
          text-align: center;
          margin-top: 10px;
    }

@media (max-width: 527px) {
    .wp-block-lipps-lipps-hairstyle-spec-block {
        width: 100%;
    }

        .wp-block-lipps-lipps-hairstyle-spec-block .face-type-box {
              margin: 0 auto;
          }
}





